button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	background: rgba(0,0,0,0);
	color: $color__border-button;
	padding: 0.5em 1em;
	outline: none;
	@include transition(0.2s ease-in-out);

	&:hover {
		border-color: $color3;
		background: $color3;
		color: $color5;
	}

	&:active,
	&:focus {
		border-color: $color3;
		background: $color3;
		color: $color5;
	}
}
