input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-main-light;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.1);

	&:focus {
		color: $color__text-main;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 0.5em;
}

textarea {
	padding-left: 0.5em;
	width: 100%;
}
