.home {
  .section-title {
    color: darken($color1, 30%);
    border-bottom: 2px solid darken($blue, 30%);
    margin-right: 100px;
    font-style: italic;
    @include font-size(1);
  }
}
//hero
.home-hero {
  background: url(./images/hero.jpg) no-repeat center center;
  background-size: cover;
}

.hero-content {
  padding: 300px 0;
  text-align: center;

  p {
    color: darken($color1, 30%);
  }
}

.hero-title {
  color: $color1;
  @include font-size(3.6);
  text-shadow: 1px 1px 20px rgba($color1, 0.2)
            , -1px -1px 10px rgba($color1, 0.2);
  margin: 0;
  line-height: 1.2;
  background: -webkit-linear-gradient(330deg, $blue 0%, $green 25%, $red 50%, $purple 75%, $yellow 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include bp-large {
    @include font-size(3);
  }

  @include bp-medium {
    @include font-size(2);
  }

  @include bp-small {
    @include font-size(2);
  }
}

//blog
.home-news {
  position: relative;
  width: 100%;
  @include clearfix();

  a { text-decoration: none; }

  .section-right {
    margin-bottom: 4em;

    h3 {
      margin: 0;
      @include font-size(2.8);
    }
  }
}
