//global
.section-left {
  width: 30%;
  float: left;

  @include bp-medium {
    width: 100%;
    float: none;
  }
}

.section-right {
  float: right;
  width: 70%;

  @include bp-medium {
    width: 100%;
    float: none;
  }
}

.section-title {
  border-bottom: 1px solid rgba($color1, 1);
  margin-right: 30%;
  color: rgba($color1, 0.7);
  padding-top: 0.5em;
  text-transform: uppercase;
  @include font-size(1);
}
//hero
.hero-bg {
  position: fixed;
  z-index: -1;
  height: 900px;
  width: 100%;
  background: url('./images/hero.jpg') no-repeat center center;
  background-attachment: fixed;
}

.hero-content {
  position: relative;
  padding: 200px 0 300px 0;
  width: 100%;
  @include clearfix();

  @include bp-medium {
    padding: 100px 0;
  }

  .section-left a {
    text-decoration: none;
  }
}

.hero-title {
  color: $color1;
  font-weight: 300;
  @include font-size(5);
  text-shadow: 1px 1px 20px rgba($color1, 0.2)
            , -1px -1px 10px rgba($color1, 0.2);
  margin: 0;
  line-height: 1.2;

  background: -webkit-linear-gradient(330deg, $blue 0%, $green 25%, $red 50%, $purple 75%, $yellow 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//blog
.news-content {
  position: relative;
  width: 100%;
  @include clearfix();

  a {
    text-decoration: none;
  }

  .section-right {
    padding-bottom: 4em;

    h3 {
      margin: 0;
      @include font-size(2.8);
    }
  }
}
