.album-post {
  position: relative;
  @include clearfix-after();
}

.album-embed,
.album-info {
  margin-top: ($padding-main * 2);
}

.album-embed {
  width: 30%;
  float: left;

  @include bp-large() {
    width: 40%;
  }
  @include bp-medium() {
    width: 100%;
  }
}

.album-info {
  width: 70%;
  float: right;
  @include bp-large() {
    width: 60%;
  }
  @include bp-medium() {
    width: 100%;
  }

  h2 {
    margin-top: 0;
  }

  p {
    @include font-size(1);
  }
}
