$font__primary: 'Roboto', sans-serif;
$font__secondary: 'Roboto Slab', serif;
$font__fancy: $font__secondary;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__body-weight: 400;
$font__header-weight: 100;

body,
button,
input,
select,
textarea {
	color: $color__text-main-light;
	font-family: $font__primary;
	@include font-size(1);
	line-height: $font__line-height-body;
	font-weight: $font__body-weight;

	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p {
	@include font-size(1.2);
}

@import "headings";

@import "copy";
