.main-navigation {
	display: inline-block;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
	}
	a {
		display: block;
		text-decoration: none;
		margin-left: $padding-main;
	}
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

/* Full screen */
@media screen and (min-width: $M) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}
}

/* Mobile */
@media screen and (max-width: $M) {
  .main-navigation {
    display: block;
    z-index: 11;

    li {
      width: 100%;
      padding: 0.5em 0;
      @include font-size(2);
    }

  .sub-menu {
    li {
      display: none;
      }
    }
  }

// full screen menu
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color2;
    z-index: 10;
  }
}

@import "menu-icon";
